{
  "log": {
    "_recordingName": "Adobe Fonts Proxy Test #unitttest/Delivers rewritten Kit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "443964250771676eabf819a8839b02fe",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://use.typekit.net/eic8tkf.css"
        },
        "response": {
          "content": {
            "mimeType": "text/css;charset=utf-8",
            "size": 6074,
            "text": "/*\n * The Typekit service used to deliver this font or fonts for use on websites\n * is provided by Adobe and is subject to these Terms of Use\n * http://www.adobe.com/products/eulas/tou_typekit. For font license\n * information, see the list below.\n *\n * henriette:\n *   - http://typekit.com/eulas/00000000000000003b9af759\n *   - http://typekit.com/eulas/00000000000000003b9af75a\n *   - http://typekit.com/eulas/00000000000000003b9af75d\n *   - http://typekit.com/eulas/00000000000000003b9af75e\n * henriette-compressed:\n *   - http://typekit.com/eulas/00000000000000003b9af764\n *   - http://typekit.com/eulas/00000000000000003b9af765\n *   - http://typekit.com/eulas/00000000000000003b9af768\n *   - http://typekit.com/eulas/00000000000000003b9af769\n *\n * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.\n */\n/*{\"last_published\":\"2020-01-14 16:06:03 UTC\"}*/\n\n@import url(\"https://p.typekit.net/p.css?s=1&k=eic8tkf&ht=tk&f=33805.33806.33809.33810.33816.33817.33820.33821&a=5215194&app=typekit&e=css\");\n\n@font-face {\nfont-family:\"henriette\";\nsrc:url(\"https://use.typekit.net/af/d91a29/00000000000000003b9af759/27/l?primer=34645566c6d4d8e7116ebd63bd1259d4c9689c1a505c3639ef9e73069e3e4176&fvd=i4&v=3\") format(\"woff2\"),url(\"https://use.typekit.net/af/d91a29/00000000000000003b9af759/27/d?primer=34645566c6d4d8e7116ebd[...]
