{
  "log": {
    "_recordingName": "Adobe Fonts Proxy Test #unitttest/Delivers 404 for missing kit",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "a6ae79b8e7befe934403e025b6b5072b",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://use.typekit.net/foobar.css"
        },
        "response": {
          "content": {
            "mimeType": "text/plain;charset=utf-8",
            "size": 9,
            "text": "not found"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "text/plain;charset=utf-8"
            },
            {
              "name": "x-cascade",
              "value": "pass"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 256,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
